.header{
background-color: var(--base-variant);
padding-top : 10px;
padding-bottom: 10px;
border-width: 1px;
margin-bottom: 100px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.menu {
width: 40px;
margin-right: 25px;
}
.imgh2{
width: 100%;
margin-top: 9px;
margin-left: 20px;
  }
.menu,
.buttonh,
.icon{
transition: opacity 0.15s;
cursor: pointer;
}
.menu:hover,
.buttonh:hover,
.icon:hover{
opacity: 0.7;
}
.menu:active,
.buttonh:active,
.icon:active{
opacity: 0.5;
}
.buttonh{
display: flex;
flex-direction: row;
}
  .texteh1{
color: var(--text-color);
font-size: 23px;
font-family: Montserrat;
margin-right: 10px;
vertical-align:middle;
width: 265px;
padding-left: 3px;
padding-right: 1px;
}
  .imgh1{
width: 40px;
height: 40px;
margin-top: 8px;
margin-right: 20px;
  }