
:root{
--base-color: #262c41;
--base-variant: #3f4763d8;
--text-color: #ffffff;
}
body{
background-color: var(--base-color);
min-height: 100vh;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
