.Scenes{
margin-top: 20px;
margin-bottom: 70px;
}
.videoScenes{
display: grid;
grid-template-rows:;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
}
.txtb2{
text-align: center;
font-weight: bold;
font-size: 60px;
margin-top: 20px;
margin-bottom: 50px;
font-family:Inter;
color: var(--text-color);
cursor: pointer;
  }
  .txtb2:hover {
opacity: 0.7;
  }
  .txtb2:active{
opacity: 0.3;
  }
.sceneHome{
display: block;
margin: auto;
width: 300px;
  }
