
.header{
background-color: var(--base-variant);
padding-top : 10px;
padding-bottom: 10px;
border-width: 1px;
margin-bottom: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
position:sticky;
top :0px;
}
.menu {
width: 40px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
}
.imgh2{
width: 100%;
  }
.imgh2,
.buttonh{
transition: opacity 0.15s;
cursor: pointer;
}
.buttonh:hover,
.imgh2:hover{
opacity: 0.7;
}
.buttonh:active,
.imgh2:active{
opacity: 0.5;
}
.buttonh{
display: flex;
flex-direction: row;
}
  .texteh1{
color: var(--text-color);
font-size: 23px;
font-family: Montserrat;
vertical-align:middle;
width: 265px;
padding-left: 3px;
padding-right: 1px;
}
  .imgh1{
width: 50px;
height: 50px;
margin-top: 4.4px;
right: 40px;
  }
