.artistesSection {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--base-variant);
  margin-top:0px;
}
.txtb1{
text-align: center;
font-weight: bold;
font-size: 60px;
margin-top: 20px;
font-family:Inter;
color: var(--text-color);
margin-bottom: 0px;
  }
.artistesPrez{
display: grid;
grid-template-rows:;
grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
margin-top: 20px;
  }
  .Mrblues,
  .midoly{
width: 100%;
height: 500px;
margin-top: 10px;
  }
  .Mrblues:active,
  .midoly:active,
  .txtb1:active{
opacity: 0.3;
  }
.doly {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgb1:hover,
.imgb2:hover,
.txtb1:hover{
  cursor: pointer;
  opacity: 0.7;
}
  .imgb1{
height: 400px;
width: 100%;
  }
  .imgb2{
height: 400px;
object-fit: cover;
object-position: right 70%;
width: 95%;
margin-bottom: 5px;
  }
  .titre-artiste{
text-align: center;
font-weight: bold;
font-size: 30px;
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
margin-top: 20px;
color: var(--text-color);
  }
